.c1 
    {
        background-color: black
    }

.c3 
    {
        background-color: red
    }

.c3verde
    {
        background-color: green
    }
.c3azul
    {
        background-color: blue
    }
.cm
    {
        background-color: grey
    }
.cm2
    {
        background-color: yellow
    }
